<section class="hero">
  <div class="hero__copy">
    <h1>Seu supermercado completo com ofertas todos os dias</h1>
    <p>
      Faça suas compras com a experiência digital do Proença. Retire na loja, receba em casa ou agende
      pelo aplicativo.
    </p>
    <div class="hero__actions">
      <a routerLink="/produtos" class="hero__cta">Ver ofertas exclusivas</a>
      <a routerLink="/contato" class="hero__link">Encontre a loja mais próxima</a>
    </div>
  </div>
  <figure class="hero__visual" aria-hidden="true">
    <img src="assets/home-hero.svg" alt="" />
  </figure>
</section>
